<div class = "app-registroevento2-container">
    <body>
        <header>
            <nav>
                <!-- Logotipo y nombre -->
                <div class="halloween"></div>
                <ul class="logo-nombre">
                    <span>ESPACIOS</span>
                    <span>BOLIVIA</span>
                </ul>
                <!-- Menú principal centrado -->
                <ul class="menu">
                    <li><a href="demostrations.html">INICIO</a></li>
                    <li><a href="demostrations.html">CALENDARIO</a></li>
                </ul>
                <!-- Inicio de sesión y botón a la derecha -->
                <div class="right-section">
                    <ul class="extra-menu">
                        <li><a href="demostrations.html">NOMBRE DE USUARIO</a></li>
                    </ul>
                    <div class="halloween"></div>
                </div>
            </nav>
        </header>
        <div class="fondoN">
          <div class="back-button">
              <a href="pagina-anterior.html"><img src="/assets/flechavolver.jpg" alt="Volver" title="Volver"></a>
          </div>
          <h1>REGISTRO DE EVENTO</h1>
          <p class="titulo2">Datos del Pago Total para la Reserva del Espacio</p>
          <form class="formulario">
            <div class="inputGroup">
              <label for="documento">Nro de Documento</label>
              <input type="text" id="documento" placeholder="Escribe el número de documento">
            </div>
            <div class="inputGroup">
              <label for="monto">Monto Total</label>
              <input type="text" id="monto" value="Bs 0000.00 (por defecto)" readonly>
            </div>
            <div class="inputGroup">
              <label for="razon">Razón Social / Nombre</label>
              <input type="text" id="razon" placeholder="Nombre o Razón Social">
            </div>
            <p class="titulo2">Forma de Pago</p>
            <div class="tipoUsuario">
                <label class="checkbox-item">
                    <input type="checkbox" class="boton">
                    <span class="custom-checkbox"></span>
                    <p class="texto">Medio Ambientales</p>
                </label>
                <label class="checkbox-item">
                    <input type="checkbox" class="boton">
                    <span class="custom-checkbox"></span>
                    <p class="texto">TRASFERENCIA</p>
                </label>
            </div>
            <button type="submit" class="boton">RESERVAR ESPACIO</button>
          </form>
        </div>
      </body>      
</div>
